<launch>

  	<arg name="model" default="$(find lab3)/urdf/lab3.urdf"/>
	<arg name="gui" default="true"/>
 	<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>

	<node name="kdl" pkg="lab3" type="kdl.py"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" 	type="joint_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab3)/all.rviz" required="true"/>

</launch>
